<?xml version='1.0' encoding='utf-8'?>
<widget id="com.book.ebusindia" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ebusindia</name>
    <description>
        Online volvo bus booking | AC Volvo Bus Booking Online Services
    </description>
    <author email="info@ebusindia.in" href="https://www.ebusindia.in">
       Webidea team
    </author>
    <content src="index.html" />
   <plugin name="cordova-plugin-device" spec="^1.1.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="com.telerik.plugins.nativepagetransitions" spec="^0.6.5" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-datepicker" spec="^0.9.3" />
     <plugin name="cordova-plugin-whitelist" version="1"/>
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin spec="https://github.com/apache/cordova-plugin-device.git" source="git" />
	<plugin name="phonegap-plugin-push" source="npm">
    <param name="SENDER_ID" value="163467203848" />
</plugin>
<!--<plugin name="cordova-plugin-sim" source="npm"/>-->
	<platform name="android">
        <icon density="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
		<splash src="splash.png" />
        <splash density="land-ldpi" src="www/res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="www/res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    
   

	<preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
